.container {
  padding: 60px;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.info {
  flex: 1;

  max-width: 25%;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

.a-box {
  padding: 15px;
  border-left: 4px solid rgb(77, 169, 205);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
  } */

.map {
  flex: 2;
  min-width: 70%
}

/*
.loc-main{
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}
.left{
    border: 1px solid blue;
    width: 500px;
}
.right{
    border: 1px solid red;
    width: 300px;
}
*/