/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #111;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffcc00;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.search-icon {
    font-size: 22px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.hero-text {
    max-width: 600px;
}

.hero-text h4 {
    color: rgb(77, 169, 205);
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: #ffcc00;
}

.hero-text p {
    font-size: 18px;
    color: #aaa;
}

.hero-img img {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffcc00;
}

.services {
    padding: 80px;
    text-align: center;
}

.services h4 {
    color: #ffcc00;
    margin-bottom: 10px;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services h2 span {
    color: #ffcc00;
}

.services p {
    color: #aaa;
    margin-bottom: 40px;
}

.service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background: #222;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(77, 169, 205);
}

.card h3 {
    margin-bottom: 10px;
    color: rgb(77, 169, 205);
}

.card p {
    color: #ccc;
}

.about {
    display: flex;
    align-items: center;
    padding: 80px;
}

.about-img img {
    width: 300px;
    border-radius: 20px;
}

.about-text {
    margin-left: 60px;
}

.about-text h4 {
    color: rgb(77, 169, 205);
    margin-bottom: 10px;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text h2 span {
    color: #ffcc00;
}

.about-text p {
    color: #aaa;
    margin-bottom: 30px;
}

.features div {
    margin-bottom: 10px;
}

footer {
    background: rgb(20, 62, 79);
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.stats div h2 {
    color: #ffcc00;
    font-size: 36px;
}

.stats div p {
    color: #aaa;
    margin-top: 5px;
}

.footer-note {
    color: #fafafa;
    font-size: 14px;
}
