/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #111;
  color: #ffcc00;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.main {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  display: flex;
  padding: auto;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(236, 245, 249, 0.6);
}

/* Left Side */
.left {
  flex: 1;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right Side */
.right {
  flex: 1;
  background-color: #222;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

.small-text {
  color: rgb(77, 169, 205);
  margin-bottom: 20px;
}

/* .small-text a {
    color: rgb(77, 169, 205);
    text-decoration: underline;
  } */

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #fff;
}

/* Circle Button */
.circle-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid #ffcc00;
  border-radius: 50%;
  color: #ffcc00;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.circle-button:hover {
  background-color: #ffcc00;
  color: #111;
}