/* header */

ul {
    list-style-type: none;
    margin: 1px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #ffcc00;
    border-radius: 5px;
    font-size: 25px;

}

li {
    float: right;
}

.a {
    float: left;

}

a {
    text-decoration: none;
    color: #222;
}

li {
    color: #222;
    padding: 12px 14px;
    display: block;
    text-align: center;
    text-decoration: none;


}

li:hover {
    /* background-color: rgb(77, 169, 205) ; */
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: 0 0 30px rgb(38, 107, 134), 0 0 50px rgb(39, 105, 132);
    transform: scale(1.02);
}


/* footer */

footer {
    background-color: rgb(20, 62, 79);
    color: #fafafa;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    border-radius: 5px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    text-align: left;
}

.footer-section a {
    display: block;
    color: #ffcc00;
    text-decoration: none;
    margin: 5px 0;
}

.footer-section a:hover {
    transform: scale(1.03);
}

.footer-section p {
    display: block;
    color: #ffcc00;
    text-decoration: none;
    margin: 5px 0;
}

.footer-copy {
    margin-top: 10px;
    font-size: 14px;
}


/*
footer {
    background-color: #ffcc00;
    color: #222;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footer-section {
    text-align: left;
}
.footer-section a {
    display: block;
    color: #222;
    text-decoration: none;
    padding: 12px 14px;
    text-align: center;
}
.footer-section a:hover {
    background-color: rgb(77, 169, 205);
    border-radius: 20px;
    transition: 0.5s;
}
.footer-copy {
    margin-top: 10px;
    font-size: 14px;
}
*/